/* @import "tailwindcss"; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #bbb;
}

.theme{
    transition: 1s all ease;
}

.light{
    background-color: #ffffff;
    color: #111;
}

.dark{
    background-color: #111;
    color: #bbb;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin: 0 auto;
    max-width: 1320px;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact{
    background-color: red;
}